
#banner {
    position: relative;
}
.nxt-arrow {
    position: absolute;
    right: 46.5%;
    transform: translateX(46.5%;);
    bottom: 5%;
    z-index: 999;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    cursor: pointer;
    transition:all linear .3s;
}
.prv-arrow {
    position: absolute;
    left: 46.5%;
    transform: translateX(46.5%;);
    bottom: 5%;
    z-index: 999;
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    cursor: pointer;
    transition:all linear .3s;
}
.nxt-arrow:hover,
.prv-arrow:hover {
    background: #de4644;
    border-color: #de4644;
}
.banner-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}
.banner-img:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}
.banner-content {
    padding-top: 123px;
    padding-bottom: 160px;
    position: relative;
    z-index: 999;
}
.banner-content h1 {
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #de4644;
    margin-top: 0;
}
.banner-content h2 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
    text-transform: uppercase;
    margin-top: -10px;
}
.banner-content p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #f1f1f1;
    line-height: 24px;
    padding-bottom: 48px;
}
.banner-content a {
    color: #fff;
    background: #de4644;
    padding: 15px 20px;
    border: 1px solid #de4644;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    transition: all linear .3s;
}
.banner-content a:hover {
    background: none;
    border-color: #fff;
}
.banner-content .pur {
    background: none!important;
    border: 1px solid #fff;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 30px;
    transition: all linear .3s;
}
.banner-content .pur:hover {
    background: #de4644!important;
    border-color: #de4644;
}